.wrapper {
    width: 100%;
}

.content {
    width: 62%;
    margin: 0 auto;
}

.post-layout.post {
    display: flex;
}

.post-content {
    display: flex;
    padding: 20px;
}

.post-item {
    display: flex;
}

.post-item img {
    width: 100%;
}

.content-news {
    display: flex;
    justify-content: space-between;
}

.main-content-news {
    width: 65%;
}

.sub-content {
    width: 34%;
    margin-top: 10px;
    padding-right: 10px;
}
