.wrapper {
    line-height: 170%;
}

.title {
    font-size: 4rem;
    color: #333;
    font-weight: 500;
    margin: 20px 0 10px;
    line-height: 130%;
}

.updatedTime {
    color: #999;
    line-height: 40px;
    font-size: 1.4rem;
}

.description {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.htmlContent {
    font-size: 1.4rem;
    color: #333;
}
.htmlContent h2 {
    font-size: 1.4rem;
    font-weight: 500;
}

.htmlContent img {
    margin: 10px 0 5px;
}
