.post {
    width: 100%;
    text-align: justify;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

.post-img {
    width: 100%;
    overflow: hidden;
}

.post img {
    width: 100%;
    transition: transform 0.3s;
}

.post h2 {
    margin: 10px 0;
    font-size: 1.6rem;
}

.post span {
    display: block;
    font-size: 1.4rem;
    padding: 20px 0;
    color: #979797;
}

.post:hover {
    color: var(--primary-color);
}

.post img:hover {
    transform: scale(105%);
}
