.wrapper {
    width: 100%;
}

.content {
    width: 62%;
    margin: 0 auto;
}

.main-post {
    width: 100%;
}

.main-post img {
    width: 100%;
}

.post-layout.post {
    display: flex;
}

.post-content {
    display: flex;
    padding: 20px;
}

.post-item {
    display: flex;
}

.post-item img {
    width: 100%;
}

.content-news {
    display: flex;
    justify-content: space-between;
}

.main-content-news {
    width: 65%;
}

.sub-content {
    width: 34%;
    margin-top: 10px;
    padding-right: 10px;
}

.tabs {
    border-bottom: 2px solid #ccc;
    margin-top: 20px;
    height: 30px;
    width: 100%;
}

.tabs button {
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
}
.tabs button:hover {
    color: var(--primary-color);
}

.tabs button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: width 0.4s ease;
}

.tabs button:hover::before {
    width: 100%;
}
