.post {
    width: 100%;
    text-align: justify;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin: 10px;
}

.post-img {
    display: flex;
    align-items: center;
    width: 40%;
    overflow: hidden;
}

.post-content {
    width: 60%;
    padding: 10px;
}

.post img {
    width: 100%;
    transition: transform 0.3s;
}

.post h2 {
    font-size: 1.5rem;
}

.post span {
    font-size: 1.2rem;
}

.post:hover {
    color: var(--primary-color);
}

.post img:hover {
    transform: scale(105%);
}

.description {
    font-weight: 300;
}
